pre {
  overflow: auto;
  background-color: #f6f8fa;
  padding: inherit;
  padding: 2%;
  font-size: 80%;
}

.pre {
  overflow: auto;
  background-color: #f6f8fa;
  padding: 1%;
  font-size: 80%;
}

p {
  overflow: auto
}

p > code {
  font-size: 85%;
}

.highlight {
  animation-duration: 20s;
  animation-name: fadein;
  /*
   * background-color: #eaf5ff;
   * -webkit-transition: background-color 2s, -webkit-transform 2s;
   * transition: background-color 4s, transform 4s;
   */
}

@keyframes fadein {
  from {
    background-color: #eaf5ff;
  }

  to {
    background-color: #fff;
  }
}
